@import "custom.scss";
@import "./bootstrap.scss";

@font-face {
  font-family: Avenir;
  src: url("~fonts/AvenirNextLTPro-Regular.ttf") format('truetype');
}

@font-face {
  font-family: AvenirBold;
  src: url("~fonts/AvenirNextLTPro-Heavy1.ttf") format('truetype');
}

@font-face {
  font-family: AvenirProBold;
  src: url("~fonts/AvenirNextLTPro-Bold1.ttf") format('truetype');
}

body {
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}
